{{!-- the {{ }} expressions can be used for content as well as attributes --}}

{{!-- two brackets {{ title }} will convert HTML characters to strings; three brackets {{{ body }}} will render the data as HTML --}}

<ol class="post-list">
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
</ol>